<div class="wrapper-CV"> <!-- Use icons from fontawesome when you are adding new item in the contact list -->
  <div class="main-wrapper-CV">
   <h3CV> Download as  <a href="../assets/sbrumer_CV_May2020.pdf">PDF</a> </h3CV>
   <p>&nbsp;</p>
 
    <section class="section summary-section">
      <h2CV class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2CV>
    <!--//item--> 
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">PhD in Earth and Environmental Sciences</h3CV>
            <div class="time">2017</div>
          </div>
          <!--//upper-row-->
          <div class="company"> Lamont-Doherty Earth Observatory at Columbia University</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>Thesis: Wave breaking in high wind speeds and its effect on air-sea gas transfer.</pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">MPhil in Earth and Environmental Sciences</h3CV>
            <div class="time">2011 - 2015</div>
          </div>
          <!--//upper-row-->
          <div class="company"> Lamont-Doherty Earth Observatory at Columbia University</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>  </pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">MSci in Physical Oceanography</h3CV>
            <div class="time">2007 - 2011</div>
          </div>
          <!--//upper-row-->
          <div class="company"> Southampton University</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>Dissertation: On the Upper Ocean Response to Tropical Cyclones - A study based on modeling, remotely sensed and in-situ observations</pCV>
        </div>
        <!--//details--> </div>
      <!--//item--> </section>
    <!--//section-->
    <section class="section experiences-section">
      <h2CV class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2CV>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Postdoctoral Reseacher</h3CV>
            <div class="time">2021 - present</div>
          </div>
          <!--//upper-row-->
          <div class="company"> France Energies Maries, Plouzané, France</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>Working on the <a href="https://www.france-energies-marines.org/projets/cassiowpe/"><strong>CASSIOWPE</strong></a> project</pCV>
        </div>
        <!--//details--> </div>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Postdoctoral Reseacher</h3CV>
            <div class="time">2017 - 2021</div>
          </div>
          <!--//upper-row-->
          <div class="company"> French Research Institute for Exploitation of the Sea (IFREMER), Plouzané, France</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>Working on the <a href="..\projects\AMICO"><strong>AMICO</strong></a> project</pCV>
        </div>
        <!--//details--> </div>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Graduate Research Fellow</h3CV>
            <div class="time">2011 - 2017</div>
          </div>
          <!--//upper-row-->
          <div class="company">Lamont-Doherty Earth Observatory at Columbia University in the City of New York, USA</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV> Worked under supervision of Dr. Christopher Zappa on a variety of <a href="..\projects\HiWinGS"><strong>projects</strong></a>. </pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Teaching Assistant</h3CV>
            <div class="time">2012 - 2015</div>
          </div>
          <!--//upper-row-->
          <div class="company">Columbia University</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>Air-Sea Interaction; Introduction to Physical Oceanography; The Climate System; Introduction to Atmospheric Science.</pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Teaching Assistant</h3CV>
            <div class="time">2010 - 2011</div>
          </div>
          <!--//upper-row-->
          <div class="company">Southampton University</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV> Quantitative Earth and Ocean Science.</pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Research Assistant</h3CV>
            <div class="time">2019 - 2010</div>
          </div>
          <!--//upper-row-->
          <div class="company">Hurricane Modeling Lab at the Rosenstiel School of Marine and Atmospheric Science, University of Miami</div>
        </div>
        <!--//meta-->
        <div class="details">
<!--          <pCV> Analyzed ocean model (HYCOM, 3D PWP) output and compared them to satellite data (TMI and AMSR-E, Ssalto/Duacs) and in situ AXBT measurements collected during the Impacts of Typhoons on the Ocean in the Pacific field campaign; oceanographic properties analyzed: sea surface height, sea surface temperature, mixed layer depth, ocean heat content, and currents. Developed storm relative quadrant analysis to quantify asymmetry of response. In charge of automated real-time hurricane tracks KML file generation for in-bedded Google map display on lab website during the 2010 Atlantic hurricane season.</pCV>-->
      </div>
        <!--//details--> </div>
      <!--//item--> </section>
    <!--//section-->
    <section class="section Publications-section">
      <h2CV class="section-title"><i class="fa fa-newspaper-o "></i>Publications</h2CV>
      <div class="item">
        <!--//upper-row-->
         <ol reversed class="CV" style="counter-reset: list 8">
           <li><strong>Brumer, S.E. </strong>, V.  Garnier, J.-L. Redelsperger, M.-B. Bouin, Impacts of surface gravity waves on a coastal tidal front: a coupled modeling perspective. <em>Ocean Modeling</em>, 154, 101677. doi: 10.1016/j.ocemod.2020.101677. <a href="../assets/Brumer_etal2020.pdf">[<strong>PDF</strong>]</a></li>
           <li>Hooker G., <strong>S.E. Brumer</strong>, C.J. Zappa, E.C. Monahan (2020) Inferences to Be Drawn from a Consideration of Power-Law Descriptions of Multiple Data Sets Each Comprised of Whitecap Coverage, WB, and 10-m Elevation Wind Speed Measurements (U10). In: Vlahos P., Monahan E. (eds) Recent Advances in the Study of Oceanic Whitecaps. Springer, Cham. doi: 10.1007/978-3-030-36371-0\_4</li>
           <li>Zappa, C.J., N.J.M. Laxague, <strong>S.E. Brumer</strong>, and S.P. Anderson (2019). The impact of wind gusts on the ocean thermal skin layer. <em>Geophysical Research Letters</em>, 46, 11301–11309. doi: 10.1029/2019GL083687</li>
           <li><strong>Brumer, S.E.</strong>, C.J. Zappa, B.W. Blomquist , C.W. Fairall, A. Cifuentes-Lorenzen, J.B. Edson, I.M. Brooks, and B.J. Huebert. (2017). Wave-related Reynolds number parameterizations of CO<sub>2</sub> and DMS transfer velocities. Geophys. Res. Letters, 44. doi: 10.1002/2017GL074979. <a href="../assets/sbrumer_GRL_2017GL074979_vaccepted.pdf">[<strong>PDF</strong>]</a></li>
           <li>Blomquist, B.W., <strong>S.E. Brumer</strong>, C.W. Fairall, B.J. Huebert,  C.J. Zappa, I.M. Brooks, M. Yang, L. Bariteau, J. Prytherch, J.E. Hare, H. Czerski, A. Matei and R.W. Pascal (2017). Wind Speed and Sea State Dependencies of Air-Sea Gas Transfer: Results From the High Wind Speed Gas Exchange Study (HiWinGS). <em>J. Geophys. Res. Oceans</em>, 2169-9291, doi: 10.1002/2017JC013181. <a href="../assets/Blomquist_2017JC013181_vaccepted.pdf">[<strong>PDF</strong>]</a></li>
           <li><strong>Brumer, S.E.</strong>, C.J. Zappa, I.M. Brooks, H. Tamura, S.M. Brown, B.W. Blomquist, C.W. Fairall, and A. Cifuentes-Lorenzen, 2017: Whitecap Coverage Dependence on Wind and Wave Statistics as Observed during SO GasEx and HiWinGS. <em>J. Phys. Oceanogr.</em>, 47, 2211–2235, doi: 10.1175/JPO-D-17-0005.1. <a href="../assets/sbrumer_JPO-D-17-0005_vaccepted.pdf">[<strong>PDF</strong>]</a></li>
           <li>Zappa, C.J., M.L. Banner, R.P. Morison and <strong>S.E. Brumer</strong> (2016). On the variation of the effective breaking strength in oceanic sea states. <em>J. Phys. Oceanogr.</em>, 46(7), 2049-2061, doi:10.1175/JPO-D-15-0227.1. <a href="../assets/Zappa_2016_JPO jpo-d-15-0227%2E1.pdf">[<strong>PDF</strong>]</a></li>
           <li><strong>Brumer S. E.</strong>, C.J. Zappa, S.P. Anderson and J.P. Dugan (2016). Riverine Skin Temperature Response to Subsurface Processes in Low Wind Speeds, <em>J. Geophys. Res. Oceans</em>, 121, doi:10.1002/2015JC010746. <a href="../assets/Brumer_2016_JGR 10.1002-2015JC010746.pdf">[<strong>PDF</strong>]</a></li>
       </ol>         
      </div>
      <!--//item-->
      <div class="item">
        <div class="upper-row">
          <h3CV class="job-title"> Under Review</h3CV>
        </div>
        <!--//upper-row-->
          <pCV> <strong>Brumer, S.E. </strong> and CJ. Zappa.  A novel framework for gas transfer in wave breaking conditions. </pCV>
      </div> 
      <!--//item--> 
      <div class="item">
	      <div class="upper-row">
          <h3CV class="job-title"> In Preparation</h3CV>
        </div>
        <!--//upper-row-->
        <pCV> Zappa, C.J., <strong>S.E. Brumer</strong>, C.W. Fairall, M.L. Banner, R.P. Morison, D. LeBel, X. Yan, and W.L. Peirson. Spray flux dependence on water side dissipation rate. <em>To be submitted to JPO</em>. </pCV>
        <pCV> Fairall C.W., <strong>S.E. Brumer</strong>, B. Blomquist, J.B. Edson, S. Pezoa, E. Thompson, M. Yang, and C.J. Zappa. Air-sea trace gas fluxes: Direct and indirect measurements. <em>To be submitted to Energy, Water, and Carbon Dioxide Fluxes at the Earth’s Surface, Frontiers in Marine Science</em>. </pCV>
        <pCV> Garnier V., <strong>S.E. Brumer</strong>, J. Pianezze, M. Accensi,  A. Thevenin, T. Odaka, J.L. Redelsperger, M.-N. Bouin, F. Ardhuin. Evaluation of the air-sea interactions from a numerical ocean-atmosphere-wave coupled system dedicated to coastal processes : application to the Ushant front. <em>To be submitted to GMD</em>. </pCV>
        <!--<pCV> Brooks I.M., <strong>S.E. Brumer</strong> et al. A comparison of modelled and observed wave spectra during the High Wind Gas Exchange Study.</pCV>-->
      </div>
      <!--//item--> </section>
    <!--//section-->
    <section class="section award-section">
      <h2CV class="section-title"><i class="fa fa-trophy"></i>Fellowships and Awards</h2CV>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">CNES postdoctoral fellowhip</h3CV>
            <div class="time">2018</div>
          </div>
          <!--//upper-row-->
          <div class="company"> Centre National d'Études spatiales </div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV> For the project: Measuring waves in coastal seas and modeling their impact in the coupled atmosphere-ocean system.</pCV>
        <!--//details--> </div>
      <!--//item--></div>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Marie Sklodowska-Curie Actions Seal of Excellence</h3CV>
            <div class="time">2017</div>
          </div>
          <!--//upper-row-->
          <div class="company"> European Commission </div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV> For the proposal: Surface Wave Impact on the Air-Sea Carbon Flux </pCV>
        <!--//details--> </div>
      <!--//item--></div>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title"> Best oral presentation</h3CV>
            <div class="time">2015</div>
          </div>
          <!--//upper-row-->
          <div class="company"> Annual Meeting of the American Meteorology Society, Phoenix, USA </div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV> For the talk: Observations of whitecaps during HiWinGS, their dependence on wave field and relation to gas transfer velocities </pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title"> Chevron Student Initiative Fund Award</h3CV>
            <div class="time">2013</div>
          </div>
          <!--//upper-row-->
          <div class="company">Columbia University</div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV>Grant awarded to establish a Weather Station and Air Quality Monitor at LDEO.</pCV>
        </div>
        <!--//details--> </div>
      <!--//item-->
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3CV class="job-title">Faculty Fellowship</h3CV>
            <div class="time">2010 - 2012</div>
          </div>
          <!--//upper-row-->
          <div class="company">Columbia University Graduate School of Arts and Sciences </div>
        </div>
        <!--//meta-->
        <div class="details">
          <pCV> Award for incoming PhD students in the Departement of Earth and Environmental Sciences.</pCV>
        </div>
        <!--//details--> </div>
      <!--//item--> </section>
    <!--//section-->
    <section class="skills-section section">
      <h2CV class="section-title"><i class="fa fa-rocket"></i>Programming Skills</h2CV>
      <div class="skillset">
        <div class="item">
          <h3CV class="level-title"> OS: </h3CV>
          Windows, Linux, Unix (Mac, Solaris) </div>
        <!--//item-->
        <div class="item">
          <h3CV class="level-title"> Languages: </h3CV>
          Matlab, LaTeX, Bash, Perl, kml, Python, Fortran </div> 
        <!--//item-->  
		</div>  
		<!--//skills-section--> 
    </section>
  <!--//main-body--> </div>

