<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MPhil in Earth and Environmental Sciences</h3>
                            <div class="time">2011 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"> Lamont-Doherty Earth Observatory at Columbia University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->

 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MSci in Physical Oceanography</h3>
                            <div class="time">2007 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company"> Southampton University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->