  <section class="section Publications-section">
                  <h2 class="section-title"><i class="fa fa-newspaper-o "></i>Publications</h2>
                  
                  <div class="item">
                  <p>Zappa, C.J., M.L. Banner, R.P. Morison and <strong>S.E. Brumer</strong> (2016). On the variation of the effective breaking strength in oceanic sea states. <em>JPO</em>, 46(7), 2049-2061, doi:10.1175/JPO-D-15-0227.1. <a href="../assets/Zappa_2016_JPO jpo-d-15-0227%2E1.pdf">[PDF]</a></p>                
      <p><strong>Brumer S.E.</strong>, C.J. Zappa, S.P. Anderson and J.P. Dugan (2016). Riverine Skin Temperature Response to Subsurface Processes in Low Wind Speeds, <em>J. Geophys. Res. Oceans</em>, 121, doi:10.1002/2015JC010746. <a href="../assets//assets/Brumer_2016_JGR 10.1002-2015JC010746.pdf">[PDF]</a> </p>
                      </div><!--//item-->
  
      <div class="item">
       <div class="upper-row">
                              <h3 class="job-title"> In Review</h3>
                          </div><!--//upper-row-->
     <p><strong>Brumer, S.E. </strong>et al. On the dependence of whitecap coverage on environmental parameters observed during HiWinGS and SO GasEx. <em>JPO</em>.</p>
      <p><strong>Brumer, S.E. </strong> et al., Wave-related Reynolds number parameterizations of CO<sub>2</sub> and DMS transfer velocities. <em>GRL</em>. </p>
                          </div><!--//item-->
  
      <div class="item">
       <div class="upper-row">
                              <h3 class="job-title"> In Preparation</h3>
                          </div><!--//upper-row-->
     <p> <strong>Brumer, S.E. </strong>et al. Wave breaking and sea state dependence of gas transfer of varying solubility.</p>
      <p> Brooks I.M., <strong>S.E. Brumer</strong> et al. A comparison of modelled and observed wave spectra during the High Wind Gas Exchange Study.</p>
      <p> Blomquist B., C.Fairall, B.Huebert, <strong>S.E. Brumer</strong> et al. Air-sea transfer of CO<sub>2</sub> and DMS under high wind speed conditions: results from the High Wind speed Gas exchange Study</p>
                  </div><!--//item-->
                  
                   </section><!--//section-->