<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Programming Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title"> OS </h3> Windows, Linux, Unix (Mac, Solaris)
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title"> Languages </h3> Matlab, LaTeX, Bash, Perl, kml, Python, Fortran
                    </div><!--//item-->
                </div>  
            </section><!--//skills-section-->