<section class="section award-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Fellowships and Awards</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Best oral presentation</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company"> Annual Meeting of the American Meteorology Society, Phoenix, USA </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> For the talk: Observations of whitecaps during HiWinGS, their dependence on wave field and relation to gas transfer velocities  </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Chevron Student Initiative Fund Award</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Columbia University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Grant awarded to establish a Weather Station and Air Quality Monitor at LDEO.</p>                         
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Faculty Fellowship</h3>
                            <div class="time">2010 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Columbia University Graduate School of Arts and Sciences </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Award for incoming PhD students in the Departement of Earth and Environmental Sciences.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                               
            </section><!--//section-->