<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Research Fellow</h3>
                            <div class="time">2011 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"> Lamont-Doherty Earth Observatory at Columbia University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Worked under supervision of Dr. Christopher Zappa on a variety of <a href="..\projects\HiWinGS">projects</a>.  </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Columbia University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Air-Sea Interaction; Introduction to Physical Oceanography; The Climate System; Introduction to  Atmospheric Science.</p>                         
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Southampton University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Quantitative Earth and Ocean Science.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2019 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Hurricane Modeling Lab at the Rosenstiel School of Marine and Atmospheric Science, University of Miami</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Analyzed ocean model (HYCOM, 3D PWP) output and compared them to satellite data (TMI and AMSR-E, Ssalto/Duacs) and in situ AXBT measurements collected during the Impacts of Typhoons on the Ocean in the Pacific field campaign; oceanographic properties analyzed: sea surface height, sea surface temperature, mixed layer depth, ocean heat content, and currents. Developed storm relative quadrant analysis to quantify asymmetry of response. In charge of automated real-time hurricane tracks KML file generation for in-bedded Google map display on lab website during the 2010 Atlantic hurricane season.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->